<div class="portfolio">
    <h1>Meu Portfólio</h1>
    <p>
        <a href="https://github.com/mashimot" target="_blank">Meu GitHub</a>
    </p>

    <div class="project">
        <h2>Projeto 1: Form Builder</h2>
        <p>
            Um construtor de formulários drag & drop usando Bootstrap. Você também pode criar um formulário baseado
            em uma tabela de criação.
        </p>
        <a href="https://startling-axolotl-b72073.netlify.app/form-builder/1/edit" target="_blank">Ver Projeto</a>
    </div>

    <div class="project">
        <h2>Projeto 2: JSON to Reactive Form</h2>
        <p> Converte um arquivo JSON em um formulário reativo do Angular, facilitando a criação de templates e
            componentes.</p>
        <a href="https://json-to-form-ten.vercel.app/" target="_blank">Ver Projeto</a>
    </div>
</div>